/* UTILITIES */
html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --ref-primary: #1abc9c;
    --ref-secondary: #2c3e50;
    --ref-light: white;
    --ref-dark: black;
    --ref-tertiary: #3a546d;
}

.app_footer,
.app_header {
    background-color: var(--ref-secondary);
    color: white;
}

.footer_top {
    background-color: var(--ref-tertiary);
}

.about,
.jumbotron {
    background-color: var(--ref-primary);
}

img {
    max-width: 100%;
}

h2 {
    font-size: 3.5em !important;
}
/* star container */
.star_container_black,
.star_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}
.star_container_black::before,
.star_container_black::after,
.star_container::before,
.star_container::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 150px;
}

.star_container::before,
.star_container::after {
    background-color: white;
}

.star_container_black::before,
.star_container_black::after{
    background-color: black;
}
.star_container_black:before,
.star_container::before {
    left: 0;
}
.star_container_black::after,
.star_container::after {
    right: 0;
}

.star_icon {
    color: #fff;
    font-size: 1.5rem;
}

.black {
    color: black;
}
/* end star container */
/* HEADER */
.bg_header {
    color: var(--ref-secondary);
}

.app_header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.font_size {
    font-size: 25px;
}
/* MAIN */
/* JUMBOTRON */
.jumbotron {
    color: var(--ref-light);
}
.jumbotron img {
    width: 250px;
}

/* PORTFOLIO */
.portfolio img {
    border-radius: 1rem;
}

/* ABOUT */
.about {
    color: white;
}
.about p {
    font-size: 20px;
}
/* CONTACT ME */
.my-btn {
    background-color: var(--ref-primary) !important;
}

/* FOOTER */
.footer_top a {
    color: var(--ref-primary);
}
